@model Fenchurch.Web.Models.WindCave.WindCaveResponseListModel


<div class="page-title">
    <h1>WindCave Response</h1>
</div>

<table>
    @foreach (var item in Model.WindCaveResponses)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Value
            </td>
        </tr>
    }
</table>