@model Nop.Plugin.Payments.Windcave.Models.WindcaveRestConnectionErrorModel
@using Nop.Web.Framework;
@using Nop.Plugin.Payments.Windcave.Domain;
@{
    Layout = "";
}
@using Nop.Core
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts("Error");
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <div class="fieldset">
        <div class="formfields">
            @if (Model?.StatusCode != string.Empty)
            {
                <h1>@(Model.ErrorTextTitle)</h1>
                <h2>Could not connect to the payment gateway.</h2>
                <p>Please try again later</p>
                @Html.Raw(Model.GetOrderUrl())
            }
        </div>
    </div>
</body>
</html>