@model AboutUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.AboutUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-about-page");
}
<div class="page about-page paddingofcategoriespage">
    <div class="page-title pagepagetitleadmin">
        <h1>@T("PageTitle.AboutUs")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "AboutUs" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AboutUsTop })

        <div class="container">
            <div class="row">
                <div>
                    <img src="https://fenchurch-nz.azurewebsites.net/images/category-background.jpg" class="aboutusimage"/>
          </div>
        </div>
            <div class="wrapper">
                <div>
                    <div class="secondcolumn1">
                        <img src="https://fenchurch-nz.azurewebsites.net/images/category-background.jpg" class="aboutusimage1"/>
                    </div>
                    <div class="firstcolumn1">
                        <div style="text-align:left;">
                            <h3>About Us</h3>
                            <h2 class="h2contact" style="font-size: 2.182em; color:#EB1C22;">Our Story</h2>
                            <p style="padding-top:30px;">
                                NZ Liquor Store is an expert in the liquor business since 1989, with only stores, located at the corner of the McGee Street in Otahuhu, Auckland. We are a New Zealand owned and operated business (family business). Since its inception, NZ Liquor has addressed the high price issue which customers to face.  Till date NZ liquor, aims to sell a product on the right price to its customers. With over XXX types of liquor brands and XXXX types of variety, our focus products were wines, spirits, beers, premixes (RTDs) and Liquor.
                            </p>
                            <p>
                                Now NZ Liquor store became a destination liquor store for people around the North Island. Are you celebrating your 21st, 31st, or 51st? Visit NZ Liquor store for bulk orders.
                            </p>
                        </div>
                    </div>

                </div>
                </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AboutUsBottom })
    </div>
</div>
    </div>
