@model IList<ProductOverviewModel>
@if (Model != null && Model.Count > 0)
{
    <div class="product-grid bestsellers" >
        <h2 class="title">
            <b>Bestsellers</b>
        </h2>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        
        </div>
    </div>
}
